body {
  /* Location of the image */
  background-image: url(images/background-photo.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}
ul{
	float: right;
	list-style type: none;
	margin-top:25px
}
ul li {
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color:#52E44f;
	padding:5px 20px;
	border: 1px solid #transparent;
	transition: 0.6 ease;
	
}
ul li a:hover{
	background-color: #52E44f;
	color: #000;
}
	
	ul li.active a{
		background-color: #52E44f;
	color: #000;
		

		.banner {
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-image: <img src="CDUBG.jpg" width="140" height="110">;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 0;
  min-height: 100vh;
  height: 100vh !important;
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
}

  .banner .inner {
    opacity: 1;
    position: relative;
    z-index: 2;
  }

  .banner h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #FFF;
  }

  .banner p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .banner:before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    left: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  		.image.fit {
  			display: block;
  			margin: 0 0 2rem 0;
  			width: 100%;
        text-align : center;
  		}

  			.image.fit img {
  				width: 50%;

  			}
